<a [routerLink]="['/menu',{outlets:{'admin':['UserShow']}}]">User Show</a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a [routerLink]="['/menu',{outlets:{'admin':['UserSearch']}}]">User Search</a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a [routerLink]="['/menu',{outlets:{'admin':['TodoShow']}}]">TOdO Show</a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a [routerLink]="['/menu',{outlets:{'admin':['TodoSearch']}}]">Todo Search</a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a [routerLink]="['/menu',{outlets:{'admin':['EmployShow']}}]">Employ Show</a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a [routerLink]="['/menu',{outlets:{'admin':['EmploySearch']}}]">Employ Search</a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<router-outlet name="admin"></router-outlet>